{
    "parser": "@babel/eslint-parser",
    "env": {
        "browser": true
    },
    "globals": {
        "wp": true
    },
    "rules": {
        "react/prop-types": 0,
        "import/no-unresolved": [2, { "ignore": ["local/"] }],
        "no-underscore-dangle": ["error", { "allow": ["__", "_"] }],
        "react/jsx-indent-props": [2, "tab"]
    },
    "extends": "@internetstiftelsen/eslint-config-react"
}
