@charset "UTF-8";

.row {
	&.alert-area {
		position: static !important;
		margin-top: rhythm(1) !important;
		margin-left: rhythm(1);
		margin-right: rhythm(1);
		margin-bottom: rhythm(1);
		padding-top: 0;

		&:empty {
			display: none;
		}
	}
}

$alert-success-border: $color-jade;
$alert-success-bg: $color-jade-light;
$alert-info-border: $color-ocean;
$alert-info-bg: $color-ocean-light;
$alert-warning-border: $color-lemon;
$alert-warning-bg: $color-lemon-light;
$alert-error-border: $color-ruby;
$alert-error-bg: $color-ruby-light;
$alert-text: $color-cyberspace;

.alert {
	position: relative;
	margin-bottom: rhythm(4);
	padding: rhythm(2) rhythm(2) rhythm(3) rhythm(2);
	border: 1px solid transparent;
	background-repeat: no-repeat;
	background-position: rhythm(2) 50%;
	width: 100%;
	max-width: calc(1360px / 1.5);
	margin-left: auto;
	margin-right: auto;

	> h2,
	> p {
		max-width: rem(600px);
	}

	> p:last-child {
		margin-bottom: rhythm(0.5);
	}

	a {
		@extend %normalize-links;

		color: $color-cyberspace;
		font-family: $font-family-headings;
		text-decoration: underline;
	}

	// Alternate styles
	//
	// Generate contextual modifier classes for colorizing the alert.

	&.alert-success {
		@include alert-variant($alert-success-border, $alert-success-bg, $alert-text);
	}

	&.alert-info {
		@include alert-variant($alert-info-border, $alert-info-bg, $alert-text);
	}

	&.alert-warning {
		@include alert-variant($alert-warning-border, $alert-warning-bg, $alert-text);
	}

	&.alert-danger,
	&.alert-error {
		@include alert-variant($alert-error-border, $alert-error-bg, $alert-text);

		::selection {
			background-color: $color-ruby;
		}

		::-moz-selection {
			background-color: $color-ruby;
		}
	}

	.btn-close {
		position: absolute;
		top: rhythm(1);
		right: rhythm(1);
		width: 24px;
		height: 24px;
		background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGlkPSJpY29uLWNsb3NlIiB2aWV3Ym94PSIwIDAgMzIgMzIiIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiI+Cgk8cGF0aCBkPSJNMjcuNSwyTDMwLDQuNUw0LjUsMzBMMiwyNy41TDI3LjUsMnoiLz4KCTxwYXRoIGQ9Ik0zMCwyNy41TDI3LjUsMzBMMiw0LjVMNC41LDJMMzAsMjcuNXoiLz4KPC9zdmc+Cg==);
		background-repeat: no-repeat;
		background-size: 24px 24px;
		padding: rhythm(1);
		background-color: transparent;
		border: 0;
	}
}

.info-notice {
	width: 100% !important;
	max-width: calc(1360px / 1.5);
	padding-left: rhythm(1);
	padding-right: rhythm(1);

	> div {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
}
