@charset "UTF-8";

.btn,
%btn {
	display: inline-flex;
	position: relative;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	margin: 0;
	overflow: hidden;
	border: 0;
	border-radius: $border-radius;
	background-color: $color-ocean-dark;
	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	box-shadow: 0 0 0 1px inset $color-ocean-dark;
	color: $color-snow;
	font-family: $font-family-headings;
	font-size: rem(16px);
	text-decoration: none;
	text-shadow: none;
	hyphens: auto;
	cursor: pointer;
	padding: rhythm(1.6) rhythm(2.5);

	@include bp-up(sm) {
		padding: rhythm(1.6) rhythm(4);
	}

	&:hover,
	&:focus {
		background-color: $color-ocean;
		box-shadow: 0 0 0 1px inset $color-ocean;
	}

	&-danger {
		background-color: $color-ruby;
		box-shadow: 0 0 0 1px inset $color-ruby;

		&:hover,
		&:focus {
			background-color: $color-ruby-light;
			box-shadow: 0 0 0 1px inset $color-ruby;
		}
	}

	&-secondary {
		background-color: $color-ocean-light;
		box-shadow: 0 0 0 1px inset $color-ocean;
		color: $color-cyberspace;

		&:hover,
		&:focus {
			background-color: $color-ocean;
			box-shadow: 0 0 0 1px inset $color-ocean;
		}
	}

	&-success {
		background-color: $color-jade;
		box-shadow: 0 0 0 1px inset $color-jade;

		&:hover,
		&:focus {
			background-color: $color-jade-light;
			box-shadow: 0 0 0 1px inset $color-jade;
		}
	}

	&.delete {
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI3LjQuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAzMiAzMiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMzIgMzI7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojRkZGRkZGO30KPC9zdHlsZT4KPHBhdGggY2xhc3M9InN0MCIgZD0iTTI4LjMsNy4zaC04VjIuOGgtOC41djQuNWgtOHYyLjVoMnYyMC44aDIwLjVWOS44aDJWNy4zeiBNMTEuNiwyOC4xSDguMlY5LjhoMy40QzExLjYsOS44LDExLjYsMjguMSwxMS42LDI4LjEKCXogTTE3LjcsMjguMWgtMy41VjkuOGgzLjVDMTcuNyw5LjgsMTcuNywyOC4xLDE3LjcsMjguMXogTTE3LjgsNy4zaC0zLjVWNS40aDMuNUMxNy44LDUuNCwxNy44LDcuMywxNy44LDcuM3ogTTIzLjgsMjguMmgtMy42VjkuOAoJaDMuNlYyOC4yeiIvPgo8L3N2Zz4K);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 24px 24px;
	}

	&.add {
		margin-left: rhythm(2);
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI3LjQuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAzMiAzMiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMzIgMzI7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojRkZGRkZGO30KPC9zdHlsZT4KPHBhdGggY2xhc3M9InN0MCIgZD0iTTMxLjYsMTQuNUgxNy41VjAuNGgtMy4xdjE0LjFIMC40djMuMWgxNC4xdjE0LjFoMy4xVjE3LjVoMTQuMVYxNC41eiIvPgo8L3N2Zz4K);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 22px 22px;
	}

	&.back-to-top {
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI3LjQuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9Imljb24tYXJyb3ctZG93biIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IgoJIHk9IjBweCIgdmlld0JveD0iMCAwIDMyIDE4LjkiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDMyIDE4Ljk7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojRkZGRkZGO30KPC9zdHlsZT4KPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSIyOS4xLDE4LjkgMTYsNS44IDIuOSwxOC45IDAsMTYgMTYsMCAzMiwxNiAiLz4KPC9zdmc+Cg==);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 22px 14px;
		height: 41px;
		z-index: 999;
	}

	&.history,
	&.dropdown-toggle,
	&.btn-clipboard {
		flex-direction: row-reverse;
		padding-right: rhythm(1.5);
		padding-left: rhythm(2);

		i {
			margin-right: 0 !important;
		}
	}


	&.dropdown-toggle,
	&.history,
	&.btn-clipboard {
		i {
			width: 16px;
			height: 16px;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='icon-arrow-down' viewBox='0 0 32 18.9' width='100%25' height='100%25'%3E%3Cpolygon points='32,2.9 16,18.9 0,2.9 2.9,0 16,13.1 29.1,0 '%3E%3C/polygon%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			background-position: center center;
			margin-left: rhythm(1);
		}
	}

	&.history {
		i {
			background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIj48cGF0aCBkPSJNMTAgMi4yYzQuMzAxIDAgNy44IDMuNDk5IDcuOCA3LjhzLTMuNDk5IDcuOC03LjggNy44LTcuOC0zLjQ5OS03LjgtNy44UzUuNjk5IDIuMiAxMCAyLjJNMTAgMEM0LjQ4NiAwIDAgNC40ODYgMCAxMHM0LjQ4NiAxMCAxMCAxMCAxMC00LjQ4NiAxMC0xMFMxNS41MTQgMCAxMCAweiIvPjxwYXRoIGQ9Ik0xNC41MjIgMTEuNDZIOC45NDFWNC4wNzhoMi4xMTh2NS4yNjVoMy40NjN6Ii8+PC9zdmc+Cg==");
			background-size: 17px 17px;
			width: 17px;
			height: 17px;
		}
	}

	&.btn-clipboard {
		padding-right: rhythm(1.5) !important;
		padding-left: rhythm(1.5) !important;

		&:hover,
		&focus {
			border-width: 0 !important;
		}

		i.fa-clipboard {
			background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNDQ4IDBIMjI0Yy0zNS4zIDAtNjQgMjguNjUtNjQgNjR2MjI0YzAgMzUuMzUgMjguNjUgNjQgNjQgNjRoMjI0YzM1LjM1IDAgNjQtMjguNjUgNjQtNjRWNjRjMC0zNS4zNS0yOC43LTY0LTY0LTY0em0xNiAyODhjMCA4LjgyMi03LjE3OCAxNi0xNiAxNkgyMjRjLTguOCAwLTE2LTcuMi0xNi0xNlY2NGMwLTguODIyIDcuMTc4LTE2IDE2LTE2aDIyNGM4LjgyMiAwIDE2IDcuMTc4IDE2IDE2djIyNHpNMzA0IDQ0OGMwIDguODIyLTcuMTc4IDE2LTE2IDE2SDY0Yy04LjgyMiAwLTE2LTcuMTc4LTE2LTE2VjIyNGMwLTguODIyIDcuMTc4LTE2IDE2LTE2aDY0di00OEg2NGMtMzUuMzUgMC02NCAyOC43LTY0IDY0djIyNGMwIDM1LjM1IDI4LjY1IDY0IDY0IDY0aDIyNGMzNS4zNSAwIDY0LTI4LjY1IDY0LTY0di02NGgtNDh2NjR6IiBmaWxsPSIjZmZmZmZmIiBjbGFzcz0iZmlsbC0wMDAwMDAiPjwvcGF0aD48L3N2Zz4=");
			margin-left: 0;
			flex-shrink: 0;
		}

		i.fa-check {
			background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI3LjQuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9Imljb24tY2hlY2siIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAzMiAyNC40IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAzMiAyNC40OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6I0ZGRkZGRjt9Cjwvc3R5bGU+Cjxwb2x5Z29uIGNsYXNzPSJzdDAiIHBvaW50cz0iMTIsMjQuNCAwLDEzLjMgMi45LDEwLjIgMTEuOCwxOC40IDI4LjksMCAzMiwyLjkgIi8+Cjwvc3ZnPgo=);
			margin-left: 0;
			flex-shrink: 0;
		}
	}
}

.btn-group {
	margin-bottom: rhythm(2);
	.btn {
		& + .btn {
			margin-left: rhythm(0.5);
		}
	}
}
