@charset "UTF-8";

footer.bg-light {
	background-color: $color-concrete;
	box-shadow: none;
	padding-top: rhythm(4);
	padding-bottom: rhythm(4);

	.container {
		padding-left: $grid-gutter-width;
		padding-right: $grid-gutter-width;

		.row {
			margin-left: 0;
			margin-right: 0;
		}
	}
}

.tooltip,
.tooltip *{

}

footer a {
	@extend %link-styles;
}

footer .col-md-4 {
	padding-bottom: rhythm(1);

	> span {
		@extend %link-styles;
	}
}

footer li {
	margin-right: rhythm(1);
}

footer li.col-md span {
	@extend %link-styles;
	font-size: $size-medium;
}

footer .col-md-5,
footer li.col-md-auto:nth-child(2) {
	display: none;
}

footer li.col-md-auto a {
	font-size: $size-medium;
}

.o-footer__bottom-links {
	display: none;
}

footer .container {
	@include bp-up(md) {
		justify-content: space-between;
		align-items: center;
		display: flex;
	}
}

footer .col-md-12 {
	@include bp-up(md) {
		width: 50%;

		& + .col-md-12 {
			text-align: right;
		}
	}
}

footer .col-md-12 img {
	width: 120px;
	height: auto;
	margin-top: rhythm(2);

	@include bp-up(md) {
		width: 180px;
		margin-top: rhythm(3);
	}
}
