@charset 'UTF-8';

::placeholder {
	text-transform: capitalize;
}

body {
	.main {
		.domain {
			.form-control {

				&#input_domain_form {
					@extend %input;

					height: 64px;
					border-radius: $border-radius;
					text-transform: lowercase;

					@include bp-up(sm) {
						font-size: rem(24px);
					}

					@include bp-up(lg) {
						font-size: rem(32px);
					}

					&.is-invalid {
						@extend %invalid;
					}
				}

				&:focus {
					@extend %input-focus;
				}

				&[disabled] {
					@extend %disabled;
				}

				+ .invalid-feedback {
					background-color: $color-ruby-dark;
					border-top-left-radius: 0;
					border-top-right-radius: 0;
					margin-top: -2px;
					padding-top: 4px;
					display: none;
				}

				&.is-invalid {
					+ .invalid-feedback {
					 display: block;
					}
				}

				&[formcontrolname] {
					@extend %input;

					width: 100%;
					min-width: rem(75px);
				}
			}

			.form-check-inline {
				display: inline-flex;
			}

			.advanced {
				margin-bottom: rhythm(4);
			}

			.row {
				&.mb-2 {
					display: flex;
					flex-wrap: nowrap;
					justify-content: space-between;
					margin-left: 0;
					margin-right: 0;
					margin-bottom: rhythm(2);
				}

				.col.col-md-5,
				.col-md-2,
				.col-md-3 {
					width: 100%;
					margin-right: rhythm(2);
				}

				.col-auto {
					display: flex;
					align-items: stretch;
				}

				[formarrayname='ds_info'] {
					@include bp-down(sm) {
						.row {
							flex-wrap: wrap;
							justify-content: flex-start;

							.col-md-2,
							.col-md-3 {
								width: 100%;
								max-width: 100%;
								flex-shrink: 0;
								margin-bottom: rhythm(1);
							}

							.col-auto {
								.btn {
									height: 41px;
								}
							}
						}
					}
				}

			}

			.btn.launch {
				@extend %btn;

				margin-left: rhythm(2) !important;


				@include bp-up(sm) {
					font-size: rem(24px) !important;
				}

				&:disabled {
					background-color: $color-granit !important;
					box-shadow: none;
					cursor: not-allowed;

					[class*='text'] {
						color: $color-snow !important;
						text-shadow: none !important;
					}
				}
			}

			.offset-sm-1 {
				margin-left: 0;
				width: 100%;
			}

			.invalid-feedback {
				background-color: $color-ruby-dark;
			}
		}

		button.switch-toggle.enabled {
			background-color: $color-ocean-dark;
		}

		.advanced .row {
			margin-left: 0;
			margin-right: 0;
		}
	}

	input[type='text'] {
		@extend %input;

		width: 100%;
		min-width: rem(75px);
	}

	.input-group.search {
		margin-bottom: rhythm(2);
		max-width: 300px;
	}
}
