@charset 'UTF-8';

.container {
	max-width: calc(1360px / 1.5);
	margin: 0 auto;
	padding: 0 $grid-gutter-width;
}

.container-fuild{
	margin-left: auto;
	margin-right: auto;
	padding-left: 0.5555555556rem;
	padding-right: 0.5555555556rem;
	width: 100%;
}
