@charset "UTF-8";

body.modal-open {
	position: fixed;
	z-index: -1;
	width: 100vw;
}

.modal-backdrop {
	z-index: -1 !important;
}

.modal {
	display: none;

	&.show {
		align-items: center;
		bottom: 0;
		display: flex;
		justify-content: center;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 1000;
		background-color: rgba($color-cyberspace, 60%);

		.modal-dialog {
			display: flex;
			position: relative;
			z-index: z_index(foreground);
			flex-direction: column;
			width: 100%;
			max-height: calc(100vh - #{rhythm(2)});
			margin: rhythm(1);
			padding: rhythm(4) rhythm(2) rhythm(4) rhythm(2);
			overflow-y: auto;
			border-radius: $border-radius;
			background: $color-snow;

			@include bp-up(sm) {
				padding: rhythm(4) rhythm(4) rhythm(6) rhythm(4);
				width: auto;
				min-width: rem(576px);
			}

			@include bp-up(md) {
				padding: rhythm(8) rhythm(8) rhythm(6) rhythm(8);
			}

			@include bp-up(lg) {
				max-width: rem(961px);
			}

			.btn-close {
				position: absolute;
				z-index: z_index(background);
				top: rhythm(1);
				right: rhythm(1);
				width: 24px;
				height: 24px;
				background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGlkPSJpY29uLWNsb3NlIiB2aWV3Ym94PSIwIDAgMzIgMzIiIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiI+Cgk8cGF0aCBkPSJNMjcuNSwyTDMwLDQuNUw0LjUsMzBMMiwyNy41TDI3LjUsMnoiLz4KCTxwYXRoIGQ9Ik0zMCwyNy41TDI3LjUsMzBMMiw0LjVMNC41LDJMMzAsMjcuNXoiLz4KPC9zdmc+Cg==);
				background-repeat: no-repeat;
				background-size: 24px 24px;
				padding: rhythm(1);
				background-color: transparent;
				border: 0;

				@include bp-up(sm) {
					top: rhythm(2);
					right: rhythm(2);
				}
			};
		}
	}

	.modal-title {
		@extend %beta;
	}
}
