@charset "UTF-8";

.result.container {
	margin-bottom: rhythm(4);

	> div:first-child {
		display: flex;
		align-items: center;
		margin-bottom: rhythm(2);
		flex-wrap: wrap;
	}

	> section.details {
		> article {
			background-color: $color-snow;
			border-radius: $border-radius;
			padding-top: rhythm(2);
		}
	}

	.input-group.search {
		max-width: rem(175px);
		min-width: rem(75px);
		margin-top: 0;
		margin-bottom: 0;
		flex-basis: 100%;
		padding-bottom: rhythm(1);

		input {
			height: rem(45px);
		}
	}

	.filters {
		display: flex;
		align-items: stretch;
		margin-bottom: rhythm(2);

		@include bp-up(lg) {
			flex-wrap: nowrap;
		}
	}

	article {
		h3 {
			font-size: $size-base;
		}

		h4 {
			button {
				display: flex;
			}
		}

		.rounded-pill {
			background-color: $color-granit;
			border-radius: 50%;
			width: 27px;
			height: 27px;
			flex-grow: 0;
			flex-shrink: 0;
			text-align: center;
			line-height: 27px;
			color: $color-snow;

			&.info {
				background-color: $color-jade;
			}

			&.notice {
				background-color: $color-ocean;
			}

			&.warning {
				background-color: $color-sandstone;
			}

			&.error {
				background-color: $color-ruby;
			}

			&.critical {
				background-color: $color-ruby-dark;
			}
		}

		i.caret {
			border: solid transparent;
			pointer-events: none;
			border-color: rgba(31, 42, 54, 0);
			border-top-color: #1f2a36;
			border-width: 8px;
			margin-left: -8px;
			width: 16px;
			height: 16px;
			margin-top: 8px;
			margin-left: rhythm(1);
			margin-right: rhythm(1);
		}

		&.expanded h3 {
			margin-bottom: 0;
		}

		&.expanded h3 i.caret {
			transform: rotate(180deg);
			margin-top: -8px;
		}

		ul {
			padding-left: rhythm(4);
			margin-bottom: 0;
		}

		li {
			align-items: center;
			margin-bottom: rhythm(1);

			p {
				margin-top: 0;
				padding-top: 0;
			}

			.level {
				margin-right: rhythm(2);
			}

			.level.info {
				background-color: $color-jade;
			}

			.level.notice {
				background-color: $color-ocean;
			}

			.level.warning {
				background-color: $color-sandstone;
			}

			.level.error {
				background-color: $color-ruby;
			}

			.level.critical {
				background-color: $color-ruby-dark;
			}
		}

		article {
			padding-top: rhythm(1);
			padding-bottom: rhythm(1);

			& + article {
				border-top: 1px solid $color-ash;
			}

			header.info + div > ul {
				margin-bottom: 0;
				padding-left: rhythm(6);
			}
		}

		header {
			align-items: center;
			padding-left: rhythm(2);
			padding-right: rhythm(2);
			flex-direction: row;
			margin-bottom: rhythm(1);

			div,
			h4 {
				margin-top: 0;
				margin-bottom: 0;
				padding-top: 0;
				padding-bottom: 0;

				.fa-plus-square-o,
				.fa-minus-square-o{
					transition: .1s transform;
					border: solid transparent;
					pointer-events: none;
					border-color: rgba(31, 42, 54, 0);
					border-top-color: #1f2a36;
					border-width: 8px;
					margin-left: -8px;
					width: 16px;
					height: 16px;
					margin-top: 12px;
					margin-left: rhythm(1);
					margin-right: rhythm(1);
				}

				.fa-minus-square-o {
					transform: rotate(180deg);
					margin-top: 4px;
				}
			}

			.test-case-id {
				border-radius: $border-radius;
				background-color: $color-ash;
			}
		}

		header.info  {
			color: $color-jade;
		}

		header.notice  {
			color: $color-ocean;
		}

		header.warning  {
			color: $color-sandstone;
		}

		header.error  {
			color: $color-ruby;
		}

		header.critical {
			color: $color-ruby-dark;
		}
	}

	.result-header {
		width: 100%;
		margin-bottom: rhythm(2);

		@include bp-up(md) {
			width: 50%;
			margin-bottom: 0;
		}
	}

	.actions-btn {
		width: 100%;

		@include bp-up(md) {
			width: auto;
			margin-left: auto;
		}

		div {
			display: flex;
		}
	}

	.dropdown-toggle.export,
	.dropdown-toggle.share{

		&[aria-expanded='false'] {
			& + .dropdown-menu {
				display: none;
			}
		}

		&[aria-expanded='true'] {
			& + .dropdown-menu {
				display: flex;
				z-index: 999;
			}
		}
	}

	.dropdown-menu {
		.dropdown-body {
			padding: rhythm(1);
			background-color: $color-snow;
			border-radius: $border-radius;
			@extend %box-shadow;

			.btn {
				font-size: $size-medium;
				padding: rhythm(1);

				& + .btn {
					margin-left: rhythm(1);
				}
			}

			input[type='text'] {
				margin-right: rhythm(1);
			}
		}
	}
}
