@charset "UTF-8";

.tooltip {
	background-color: $color-cyberspace;
	color: $color-snow;
	border-radius: $border-radius;
	font-size: $size-medium-plus;
	padding: rhythm(2);
	position: relative;
	margin-bottom: rhythm(2) !important;
	z-index: 999;
	max-width: 90vw;

	@include bp-up(sm) {
		max-width: rem(400px);
	}

	&::after {
		top: calc(100% - 8px);
		left: 50%;
		border: solid transparent;
		content: '';
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(31, 42, 54, 0);
		border-top-color: #1f2a36;
		border-width: 16px;
		margin-left: -16px;
		z-index: 999;
	}
}
