---
import ProgramVersions from '../../lib/components/ProgramVersions/ProgramVersions.svelte';
import Grid from '../../lib/components/Grid/Grid.svelte';
---

<footer class="zm-footer">
    <div class="container">
        <Grid client:load cols={2} gap="xs">
            <div class="zm-footer-program-versions">
                <ProgramVersions client:idle />
                <span class="zm-footer-copyright">Copyright © AFNIC och Internetstiftelsen. Alla rättigheter förbehållna.</span>
            </div>
            <div class="zm-footer-nav-container">
                <nav>
                    <ul class="zm-footer-nav">
                        <li>
                            <a href="https://github.com/zonemaster/zonemaster"><i class="bi bi-github"></i> Källkod</a>
                        </li>
                        <li>
                            <a href="https://doc.zonemaster.net/"><i class="bi bi-file-text-fill"></i> Dokumentation</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </Grid>
    </div>
    <div class="wrapper-fluid">
        <div class="o-footer" id="siteFooter">
            <div class="row">
                <div class="grid-18 o-footer__info">
                    <div class="row">
                        <div class="grid-18 grid-lg-9 o-footer__info__freetext">
                            <p class="o-footer__paragraph"><a href="https://internetstiftelsen.se/" target="_blank">Internetstiftelsen</a> Internetstiftelsen är en oberoende, affärsdriven och allmännyttig organisation. Vi verkar för ett internet som bidrar positivt till människan och samhället. Vi ansvarar för internets svenska toppdomän .se och sköter drift och administration av toppdomänen .nu. Intäkterna från affärsverksamheten finansierar en rad satsningar i syfte att möjliggöra att människor kan nyttja internet på bästa sätt, och stimulera kunskapsdelning och innovation med inriktning på internet.
                            </p>
                        </div>
                        <div class="grid-18 grid-lg-9 o-footer__info__contact">
                            <div class="row o-footer__info__contact__row-first">
                                <div class="grid-md-9 grid-lg-18 grid-xl-9 grid-18 o-footer__info__address1">
                                    <ul class="u-list-clean o-footer__info__contact__address">
                                        <li class="o-footer__info__contact__address__li">Internetstiftelsen</li>
                                        <li class="o-footer__info__contact__address__li">Hammarby Kaj 10D</li>
                                        <li class="o-footer__info__contact__address__li">Box 92073</li>
                                        <li class="o-footer__info__contact__address__li">120 07 Stockholm</li>
                                    </ul>
                                </div>
                                <div class="grid-md-9 grid-lg-18 grid-xl-9 grid-18 o-footer__info__address2">
                                    <ul class="u-list-clean o-footer__info__contact__address">
                                        <li class="o-footer__info__contact__address__li">E-post: <a class="o-footer__link" href="mailto:info@internetstiftelsen.se">info@internetstiftelsen.se</a></li>
                                        <li class="o-footer__info__contact__address__li">Telefon: <a class="o-footer__link" href="tel:084523500">08-452 35 00</a></li>
                                        <li class="o-footer__info__contact__address__li">Organisationsnummer: 802405-0190</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row o-footer__info__contact__row-second">
                                <div class="grid-19 grid-md-9 o-footer__info__ISO">
                                    <a href="https://internetstiftelsen.se/om-oss/mer-om-oss/organisation/informationssakerhet/" class="o-footer__link o-footer__external-link" target="_blank" rel="noopener noreferrer">
                                        <img width="54" height="67" src="https://internetstiftelsen.se/app/themes/internetstiftelsen/images/ISO_27001_2022_black_TM.svg" class="o-footer__external-logo" alt="Certifierade enligt ISO/IEC 27001:2022">
                                        <span>Certifierade enligt ISO/IEC<br>27001:2022</span>
                                    </a>
                                </div>
                                <div class="grid-19 grid-md-9 o-footer__info__CC"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="grid-18 o-footer__logotypes">
                    <div class="row">
                        <div class="o-footer__logotypes__item">
                            <a href="https://svenskarnaochinternet.se" class="o-footer__logotypes__item__link">
                                <div class="o-footer__logotypes__item__inner">
                                    <div class="o-footer__logotypes__item__front">
                                        <img class="o-footer__logotype" alt="Svenskarna och internet" src="https://static.internetstiftelsen.se/images/logotypes/svenskarna-och-internet.svg">
                                    </div>
                                    <div class="o-footer__logotypes__item__back">
                                        <h2>Svenskarna och internet</h2>
                                        <span>En årlig studie av svenska folkets internetvanor</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="o-footer__logotypes__item">
                            <a href="https://internetdagarna.se" class="o-footer__logotypes__item__link">
                                <div class="o-footer__logotypes__item__inner">
                                    <div class="o-footer__logotypes__item__front">
                                        <img class="o-footer__logotype" alt="Internetdagarna" src="https://static.internetstiftelsen.se/images/logotypes/internetdagarna.svg">
                                    </div>
                                    <div class="o-footer__logotypes__item__back">
                                        <h2>Internetdagarna</h2>
                                        <span>Internetdagarna är en konferens som arrangeras av Internetstiftelsen</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="o-footer__logotypes__item">
                            <a href="https://bredbandskollen.se" class="o-footer__logotypes__item__link">
                                <div class="o-footer__logotypes__item__inner">
                                    <div class="o-footer__logotypes__item__front">
                                        <img class="o-footer__logotype" alt="Bredbandskollen" src="https://static.internetstiftelsen.se/images/logotypes/bredbandskollen.svg">
                                    </div>
                                    <div class="o-footer__logotypes__item__back">
                                        <h2>Bredbandskollen</h2>
                                        <span>Bredbandskollen är ett oberoende konsumentverktyg som drivs av Internetstiftelsen</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="o-footer__logotypes__item">
                            <a href="https://internetmuseum.se" class="o-footer__logotypes__item__link">
                                <div class="o-footer__logotypes__item__inner">
                                    <div class="o-footer__logotypes__item__front">
                                        <img class="o-footer__logotype" alt="Internetmuseum" src="https://static.internetstiftelsen.se/images/logotypes/internetmuseum.svg">
                                    </div>
                                    <div class="o-footer__logotypes__item__back">
                                        <h2>Internetmuseum</h2>
                                        <span>Ett digitalt museum som byggts, och kureras av Internetstiftelsen</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="o-footer__logotypes__item">
                            <a href="https://digitalalektioner.se" class="o-footer__logotypes__item__link">
                                <div class="o-footer__logotypes__item__inner">
                                    <div class="o-footer__logotypes__item__front">
                                        <img class="o-footer__logotype" alt="Digitala lektioner" src="https://static.internetstiftelsen.se/images/logotypes/digitala-lektioner.svg">
                                    </div>
                                    <div class="o-footer__logotypes__item__back">
                                        <h2>Digitala lektioner</h2>
                                        <span>Öppen digital lärresurs med färdiga lektioner för alla stadier i grundskolan</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="o-footer__logotypes__item">
                            <a href="https://digitalalektioner.se" class="o-footer__logotypes__item__link">
                                <div class="o-footer__logotypes__item__inner">
                                    <div class="o-footer__logotypes__item__front">
                                        <img class="o-footer__logotype" alt="Internetkunskap" src="https://static.internetstiftelsen.se/images/logotypes/internetkunskap.svg">
                                    </div>
                                    <div class="o-footer__logotypes__item__back">
                                        <h2>Internetkunskap</h2>
                                        <span>Samlad kunskap som hjälper dig att bli en säker och medveten internetanvändare</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
