button.zm-button {
    &.zm-button--primary {
        &:hover,
        &:focus {
            background-color: var(--color-palette-ocean);
            border-color: var(--button-border-hover-color);

            &[aria-controls="advanced-options"] {
                i {
                    color: var(--color-palette-ocean);
                }
            }
        }
<<<<<<< HEAD

        &[disabled],
        &[disabled]:focus,
        &[disabled]:hover {
            background: var(--color-disabled);
            color: var(--color-muted-text);
            border-color: var(--button-border-color-disabled);
            text-shadow: 0 1px 0 var(--color-palette-black-0);
            cursor: not-allowed;
        }
=======
>>>>>>> f7e27b5 (add new code base)
    }

    &.zm-button--transparent {
        background-color: transparent;
        border-color: transparent;
    }

    &[aria-controls="advanced-options"] {
        i {
            color: var(--color-palette-ocean-dark);
        }

        &:hover,
        &:focus {
            text-decoration: underline;

            + label {
                text-decoration: underline;
            }

            &[aria-controls="advanced-options"] {
                i {
                    color: var(--color-palette-ocean);
                }
            }
        }
    }
}
