@import 'fonts.css';
@import 'foundation.css';
@import 'header.css';
@import 'footer.css';
@import 'menu.css';
@import 'button.css';
@import 'input.css';
@import 'select.css';
@import 'domain-test.css';
@import 'result.css';
@import 'collapsible.css';
@import 'utilities.css';
@import 'alert.css';
@import 'language-switcher.css';
<<<<<<< HEAD
@import 'filter-toggle.css';
=======
>>>>>>> 5447d5d (add new code base)
