section.zm-result__module {
    background-color: var(--color-palette-white);
    border: 1px solid var(--color-palette-concrete);
}

.zm-result__group {
    p {
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;
        font-size: calc(var(--font-xs) * 1.25);
    }
}
